%h1.text-center.text-4xl Mood Board

.mt-8
  = haml :callout, locals: { title: "Ready to work on the next task?", text: "", link: "/new", link_text: "Start working on it", color: "blue" }

= haml :overview
